@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Animals";
}

@*Estilização*@
<style>

    /*Plano defs fundo datalist tela - Animals*/
    body {
        background-image: url('https://github.com/VictorLueders/ImagemTelaSite/blob/main/TelaAnimais.png?raw=true');
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*Estilização dos botões*/
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: forestgreen;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        transition: all 0.5s;
        margin: 5px;
        width: 210px;
        height: 70px;
        left: auto;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>

@*Nome e descrição da categoria*@
<div>

    <label style="font-family:Georgia; font-size: 55px; position:absolute; left: 1%">Animais</label>
    <label style="font-family:Georgia; font-size: 20.5px; font-display:block; position:absolute; left: 1%; top: 12%"> Envolve todos os tipos de ocorrências animais, como<br /> animais perdidos, maus-tratos, entre outros. <br /> Dando prioridade ao serviço do Ibama.</label>

</div>

@*Inserções do usuário*@
<form action="/Home/Waiting" method="post" style=" position:absolute; top:32%; left:82.5%">

    @*Seleção de emergências*@
    <div>
        <label style="font-family:Georgia; font-size: 26.5px;">Selecione a ocasião</label><br />
        <select style="width: 90%; height:2%;" class="text-center;">
            <option value="" disabled selected>Selecione</option>
            <option value="ASelvagem">Animal Selvagem</option>
            <option value="ADoente">Animal Doente</option>
            <option value="MTratos">Maus Tratos</option>
            <option value="APerdido">Animal Perdido</option>

        </select>
    </div>
    <br />

    @*Seleção de níveis de urgência*@
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Nível de urgência</label><br />
        <select style="width: 90%; height:2%;" class="text-center;">
            <option value="" disabled selected>Selecione</option>
            <option style="color:green" value="Verde">Verde</option>
            <option style="color:goldenrod" value="Amarelo">Amarelo</option>
            <option style="color:orangered" value="Laranja">Laranja</option>
            <option style="color:red" value="Vermelho">Vermelho</option>
        </select>
    </div>
    <br />

    @*Caixa de observações*@
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Observações</label>
        <input type="text" name="obs" style="width: 90%; height:5%;" />
    </div>
    <br />
    <button class="button" style="vertical-align:middle"><span style="top: -15%;">Chamar</span></button>
</form>