@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Crimes";
}

<style>
    body {
        background-image: url('https://github.com/VictorLueders/ImagemTelaSite/blob/main/tel%20crimes.png?raw=true');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: forestgreen;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        transition: all 0.5s;
        margin: 5px;
        width: 210px;
        height: 70px;
        left: auto;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>


<div>

    <label style="font-family:Georgia; font-size: 55px; position:absolute; left: 1%">Crimes</label>
    <label style="font-family:Georgia; font-size: 23px; font-display:block; position:absolute; left: 1%; top: 12%"> Envolve todos os tipos de crimes como assaltos,<br /> furtos, invasões, entre outros. <br /> Dando prioridade ao serviço policial.</label>

</div>


<form action="/Home/Waiting" method="post" style=" position:absolute; top:31.5%; left:82.5%">

    <div>
        <label style="font-family:Georgia; font-size: 28px;">Selecione o crime</label><br />
        <select style="width: 90%; height:2%;" class="text-center" ;>
            <option value="" disabled selected>Selecione</option>
            <option value="Assalto">Assalto</option>
            <option value="Furto">Furto</option>
            <option value="Homicidio">Homicídio</option>
            <option value="InvasãoDomiciliar">Invasão Domiciliar</option>
            <option value="MercadoIlegal">Mercado Ilegal</option>

        </select>
    </div>
    <br />
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Nível de urgência</label><br />
        <select style="width: 90%; height:2%;" class="text-center;">
            <option value="" disabled selected>Selecione</option>
            <option style="color:green" value="Verde">Verde</option>
            <option style="color:goldenrod" value="Amarelo">Amarelo</option>
            <option style="color:orangered" value="Laranja">Laranja</option>
            <option style="color:red" value="Vermelho">Vermelho</option>
        </select>
    </div>
    <br />
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Observações</label>
        <input type="text" name="obs" style="width: 90%; height:5%;" />
    </div>
    <br />
    @*<input type="submit" class="btn btn-green" name="Chamar" value="Chamar" style="background-color: #3dbf37; width:90%; height: 20%; color: white; position:absolute; top: 110%; left: 44.5%; margin-right: -50%; transform: translate(-50%, -50%)" />*@

    <button class="button" style="vertical-align:middle"><span style="top: -25%;">Chamar</span></button>

    @*<input type="button" class="back"  name="Voltar" value="Voltar"/>*@

</form>