@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Domestic Violence";
}

@* Estilização *@

<style>
    /*Plano de fundo da tela - - Domestic Violence*/
    body {
        background-image: url('https://github.com/VictorLueders/ImagemTelaSite/blob/main/TelaVD.png?raw=true');
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*Design Botão Chamar*/
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: forestgreen;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        transition: all 0.5s;
        margin: 5px;
        width: 210px;
        height: 70px;
        left: auto;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>

@* Nome e Descrição da categoria *@

<div>
    <label style="font-family:Georgia; font-size: 45px; position:absolute; left: 1%">Violência Doméstica</label>
    <label style="font-family:Georgia; font-size: 19.5px; font-display:block; position:absolute; left: 1%; top: 12%">Envolve todos os tipos de violência doméstica, com foco<br>em violência contra o sexo feminino e crianças.</label>
</div>

@* Seleção de emergências *@
<form action="/Home/Waiting" method="post" style=" position:absolute; top:32%; left:82.5%">
    <div>
        <label style="font-family:Georgia; font-size: 25px;">Selecione um crime</label><br />
        <select style="width: 90%; height:2%;" class="text-center;">
            <option value="" disabled selected>Selecione</option>
            <option value="Assalto">Violência contra mulher</option>
            <option value="Furto">Abuso infantil</option>
        </select>
    </div>

    <br />

    @* Design Escolha de Nível de Urgência *@
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Nível de urgência</label><br />
        <select style="width: 90%; height:2%;" class="text-center;">
            <option value="" disabled selected>Selecione</option>
            <option style="color:green" value="Verde">Verde</option>
            <option style="color:goldenrod" value="Amarelo">Amarelo</option>
            <option style="color:orangered" value="Laranja">Laranja</option>
            <option style="color:red" value="Vermelho">Vermelho</option>
        </select>
    </div>

    <br />

    @* Caixa de Observações*@
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Observações</label>
        <input type="text" name="obs" style="width: 90%; height:5%;" />
    </div>

    <br />

    <button class="button" style="vertical-align:middle"><span style="top: -25%;">Chamar</span></button>
</form>