@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Emergency";
}


@*Plano de fundo da tela - Emergency*@
<style>

    body {
        background-image: url('https://github.com/VictorLueders/ImagemTelaSite/blob/main/Tela2.png?raw=true');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
    }

</style>

@*Instruções da tela - Emergency*@
<div class="text-center">
    <label style="font-size: 35px; font-family: Georgia; position:absolute; top:17%; left:79.5%; color: white; font-size: 23px; position:absolute">Olá, @ViewBag.Nome! <br /> </label>
    <label style="font-size: 35px; font-family: Georgia; position:absolute; top:22%; left:74%; color: white; font-size: 23px; position:absolute">Selecione uma emergência</label>

</div>




@*Botões*@


@*Botão Crimes*@
<form action="/Home/Crimes" method="post">

    <input class="emergency"; type="submit" value="Crimes" style="background-color: white;
        border: 0px;
        width: 8.5%;
        height: 11%;
        position: absolute;
        top: 34%;
        left: 74.7%;
        color: #3dbf37;
        font-size: 25px;
    ">
</form>

@*Botão Incêndios*@
<form action="/Home/Fire" method="post">
    <input class="emergency"; type="submit" value="Incêndios" style="background-color: white;
        border: 0px;
        width: 8.5%;
        height: 11%;
        position: absolute;
        top: 34%;
        left: 84.7%;
        color: #3dbf37;
        font-size: 25px;
    ">
</form>

@*Botão V.D.*@
<form action="/Home/DomesticViolence" method="post">
    <input class="emergency"; type="submit" value="V.D." style="background-color: white;
        border: 0px;
        width: 8.5%;
        height: 11%;
        position: absolute;
        top: 49%;
        left: 74.7%;
        color: #3dbf37;
        font-size: 25px;
    ">
</form>

@*Botão Saúde*@
<form action="/Home/Health" method="post">
    <input class="emergency"; type="submit" value="Saúde" style="background-color: white;
        border: 0px;
        width: 8.5%;
        height: 11%;
        position: absolute;
        top: 49%;
        left: 84.7%;
        color: #3dbf37;
        font-size: 25px;
    ">
</form>

@*Botão Animais*@
<form action="/Home/Animals" method="post">
    <input class="emergency"; type="submit" value="Animais" style="background-color: white;
        border: 0px;
        width: 8.5%;
        height: 11%;
        position: absolute;
        top: 64%;
        left: 74.7%;
        color: #3dbf37;
        font-size: 25px;
    ">
</form>

@*Botão Tráfego*@
<form action="/Home/Traffic" method="post">
    <input class="emergency"; type="submit" value="Tráfego" style="background-color: white;
        border: 0px;
        width: 8.5%;
        height: 11%;
        position: absolute;
        top: 64%;
        left: 84.7%;
        color: #3dbf37;
        font-size: 25px;
    ">
</form>

