@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Fire";

}

<style>
    body {
        background-image: url('https://github.com/VictorLueders/ImagemTelaSite/blob/main/TelaIncendio.png?raw=true');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div>

    <label style="font-family:Georgia; font-size: 55px; position:absolute; left: 1%">Incêndios</label>
    <label style="font-family:Georgia; font-size: 24px; font-display:block; position:absolute; left: 1%; top: 12%"> Envolve todos os tipos incêndios desde<br />domésticos a florestais.<br /> Dando prioridade ao serviço de bombeiros.</label>

</div>


<form action="/Home/Waiting" method="post" style=" position:absolute; top:30%; left:82.5%">

    <div>
        <label style="font-family:Georgia; font-size: 25px;">Selecione o tipo de incêndio</label><br />

        <select style="width: 90%; height:2%;" class="text-center;">
            <option value=""></option>
            <option value="Comercial">Comercial</option>
            <option value="Domestico">Doméstico</option>
            <option value="Eletrico">Elétrico</option>
            <option value="Florestal">Florestal</option>

        </select>
    </div>
    <br />
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Nível de urgência</label><br />
        <select style="width: 90%; height:2%;" class="text-center;">
            <option value=""></option>
            <option value="Verde">Verde</option>
            <option value="Amarelo">Amarelo</option>
            <option value="Laranja">Laranja</option>
            <option value="Vermelho">Vermelho</option>
        </select>
    </div>
    <br />
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Observações</label>
        <input type="text" name="obs" style="width: 90%; height:5%;" />

    </div>

    <input type="submit" class="btn btn-green" ; name="Chamar" value="Chamar" style="background-color: #3dbf37; width:90%; height: 20%; color: white; position:absolute; top: 118%; left: 44.5%; margin-right: -50%; transform: translate(-50%, -50%)" />
</form>
