@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Fire";

}

<style>

    /*Plano de fundo da tela - - Fire*/
    body {
        background-image: url('https://github.com/VictorLueders/ImagemTelaSite/blob/main/TelaIncendio.png?raw=true');
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*Design Botão Chamar*/
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: forestgreen;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        transition: all 0.5s;
        margin: 5px;
        width: 211px;
        height: 70px;
        left: auto;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>

@* Nome e descrição da categoria *@
<div>
    <label style="font-family:Georgia; font-size: 55px; position:absolute; left: 1%">Incêndios</label>
    <label style="font-family:Georgia; font-size: 24px; font-display:block; position:absolute; left: 1%; top: 12%"> Envolve todos os tipos incêndios desde<br />domésticos a florestais.<br /> Dando prioridade ao serviço de bombeiros.</label>

</div>


@* Seleção de emergências *@
<form action="/Home/Waiting" method="post" style=" position:absolute; top:30%; left:82.5%">
    <div>
        <label style="font-family:Georgia; font-size: 23px;">Selecione o tipo de incêndio</label><br />

        <select style="width: 90%; height:2%;" class="text-center;">
            <option value="" disabled selected>Selecione</option>
            <option value="Comercial">Comercial</option>
            <option value="Domestico">Doméstico</option>
            <option value="Eletrico">Elétrico</option>
            <option value="Florestal">Florestal</option>

        </select>
    </div>

    <br />

    @* Design Escolha de Níveis de Emergência *@
    <div>
        <label style="font-family:Georgia; font-size: 27px;">Nível de urgência</label><br />
        <select style="width: 90%; height:2%;" class="text-center;">
            <option value="" disabled selected>Selecione</option>
            <option style="color:green" value="Verde">Verde</option>
            <option style="color:goldenrod" value="Amarelo">Amarelo</option>
            <option style="color:orangered" value="Laranja">Laranja</option>
            <option style="color:red" value="Vermelho">Vermelho</option>
        </select>
    </div>

    <br />

    @* Caixa de Observações *@
    <div>
        <label style="font-family:Georgia; font-size: 27px;">Observações</label>
        <input type="text" name="obs" style="width: 90%; height:5%;" />

    </div>

    <br />

    <button class="button" style="vertical-align:middle"><span style="top: -25%;">Chamar</span></button>
</form>