@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Health";
}


<div>

    <label style="font-family:Georgia; font-size: 55px; position:absolute; left: 1%">Saúde</label>
    <label style="font-family:Georgia; font-size: 23px; font-display:block; position:absolute; left: 0.3%; top: 12%"> Envolve todos os tipos de acidentes domesticos,<br /> comerciais, locais entre outros. <br /> Dando prioridade ao serviço do Samu da região.</label>

</div>

<form action="/Home/Waiting" method="post" style=" position:absolute; top:33%; left:81.5%">

    <div>
        <label style="font-family:Georgia; font-size: 24px;">Selecione um acidente</label><br />
        <select style="width: 90%; height:2%;" class="text-center;">
            <option value="" disabled selected>Selecione</option>
            <option value="Afogamento">Afogamento</option>
            <option value="Asfixia">Asfixia</option>
            <option value="Ataque Cardiaco">Ataque Cardiaco</option>
            <option value="Ataque Epiletico">Ataque Epiletico</option>
            <option value="Choque Elétrico">Choque</option>
            <option value="Cortes">Cortes</option>
            <option value="Desmaio">Desmaio</option>
            <option value="Intoxicação ou envenenamento">Intoxicação ou Envenenamento</option>
            <option value="Quedas">Quedas</option>
            <option value="Queimaduras">Queimaduras</option>
        </select>
    </div>
    <br />
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Nível de urgência</label><br />
        <select style="width: 90%; height:2%;" class="text-center;">
            <option value="" disabled selected>Selecione</option>
            <option style="color:green" value="Verde">Verde</option>
            <option style="color:goldenrod" value="Amarelo">Amarelo</option>
            <option style="color:orangered" value="Laranja">Laranja</option>
            <option style="color:red" value="Vermelho">Vermelho</option>
        </select>
    </div>
    <br />
    <div>
        <label style="font-family:Georgia; font-size: 28px;">Observações</label>
        <input type="text" name="obs" style="width: 90%; height:5%;" />

    </div>

    <input type="submit" class="btn btn-green" ; name="Chamar" value="Chamar" style="background-color: #3dbf37; width:90%; height: 20%; color: white; position:absolute; top: 118%; left: 44.5%; margin-right: -50%; transform: translate(-50%, -50%)" />
</form>





<style>

    body {
        background-image: url('https://github.com/VictorLueders/ImagemTelaSite/blob/main/TelaSa%C3%BAde.png?raw=true');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>



